@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box !important;
}

:root {
    --roundness: 6px;
    --modeline-backdrop-color: rgba(25, 26, 34, 1);
}

body {
    margin: 0;
}

.root-page-container {
    color: #efefef;

    background: rgb(93, 97, 247);

    background: linear-gradient(
            34deg,
            rgba(49,95,150,1) 0%,
            rgba(107, 114, 128,1) 100%
    );

    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    font-weight: 400;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.terminal-outer-container {
    width: 100%;
    max-width: 3000px;
    position: absolute;
}

.terminal-inner-container {
    background: #22212c;
    box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.46);
    width: 100%;

    border-radius: var(--roundness);
}

.terminal-content-container {
    padding: 30px;
    min-height: 80vh;
    border-radius: var(--roundness) var(--roundness) 0px 0px;
}

.terminal-title-bar {
    height: 40px;
    background: #191a22;
    border-radius: var(--roundness) var(--roundness) 0px 0px;

    display: flex;
    align-items: center;
    padding: 0px 14px;

    position: relative;
}

.terminal-title-actions {
    display: flex;
    align-items: center;

    position: absolute;
}

.terminal-title-actions .title-btn {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.terminal-title-bar .title-btn:not(:first-of-type) {
    margin-left: 8px;
}

.title-btn__red {
    background: rgba(255, 91, 82, 1);
}

.title-btn__yellow {
    background: rgba(230, 192, 41, 1);
}

.title-btn__green {
    background: rgba(83, 195, 43, 1);
}

.title-btn:hover {
    background: #22212c;
}

.terminal-content-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color:#1a720c;
}
a:visited {
    color: #336dea;
}

.terminal-content-text h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 500;
}

.terminal-mode-line-container {
    display: flex;
    align-items: center;
    position: relative;
}

.terminal-mode-indicator {
    color: rgba(34, 33, 44, 1);
    background: rgba(198, 141, 255, 1);
    padding: 5px 10px;
    border-radius: 0px 0px 0px var(--roundness);
    font-weight: 400;
}

.mode-indicator-triangle {
    width: 0;
    height: 0;
    border-top: 15.5px solid transparent;
    border-bottom: 15.5px solid transparent;

    border-left: 15.5px solid rgba(198, 141, 255, 1);
    background: var(--modeline-backdrop-color);

    margin-left: -6px;
}

.terminal-file-display {
    background: var(--modeline-backdrop-color);
    padding: 5px 10px;
    width: 100%;

    border-radius: 0px 0px var(--roundness) 0px;
}

@keyframes animate-half {
    from {
        height: 100%;
    }

    to {
        height: 30%;
    }
}

.backdrop-upper-half {
    box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.46);
    animation: animate-half 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    will-change: height box-shadow;
    background: #191a22;
    height: 30%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

.terminal-title-text {
    width: 100%;
    text-align: center;
}

strong {
    font-weight: bold;
}

.blue {
    color: #64dff3;
}

.yellow {
    color: #d4dd83;
}

.yellow a:visited {
    color: #1a720c;
}

a:visited {
    @apply text-gray-500
}